.grid {
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 5rem;
}

.box {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 20px;
  -webkit-box-shadow: inset 2px 2px 15px 0 #383737;
  box-shadow: inset 2px 2px 15px 0 #383737;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5x;
  position: relative;
  overflow: hidden;
}

/* Box 1 */

.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.boxContent {
  transform: translateY(4.5rem);
  transition: transform 0.5s ease-in-out;
}

.box1:hover > .boxContent {
  transform: translateY(0);
}

.box2:hover > .boxContent {
  transform: translateY(0);
}

.box3:hover > .boxContent {
  transform: translateY(0);
}

.box5:hover > .boxContent {
  transform: translateY(0);
}

.videos {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 15%;
  left: 8%;
  right: 8%;
}
/* Video 1 */
.video1 {
  width: 200px;
  transform: rotate(10deg);
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.video1:hover {
  transform: rotate(0deg);
  scale: 1.5;
  z-index: 99;
}

/* Video 2 */
.video2 {
  width: 200px;
  transform: rotate(-15deg);
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.video2:hover {
  transform: rotate(0deg);
  scale: 1.5;
  z-index: 99;
}

/* Video 3 */
.video3 {
  width: 200px;
  transform: rotate(11deg);
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.video3:hover {
  transform: rotate(0deg);
  scale: 1.5;
  z-index: 99;
}

/* Video 4 */
.video4 {
  width: 200px;
  transform: rotate(-14deg);
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.video4:hover {
  transform: rotate(0deg);
  scale: 1.5;
  z-index: 99;
}

.boxHeading {
  font-size: 24px;
  font-weight: 600;
}

.boxSubheading {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0 5px 0;
  color: lightslategray;
}

.boxPopUp {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
  width: max-content;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 21px;
  color: var(--subtext-color);
  background-color: var(--glass-background-color);
}

.boxPopUp:hover {
  cursor: pointer;
  background-color: gray;
}

/* Box2 */

.box2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-content: space-between;
  position: relative;
}

.box2:hover {
  padding-bottom: 20px;
}

.box2Heading,
.box2SubHeading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.box2SubHeading {
  color: #88a0d0;
}

.box2Globe {
  border-radius: 100%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  align-self: center;
  position: absolute;
  top: 20%;
}

.box2Bottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.box2BottomHeading {
  font-size: 24px;
  font-weight: 600;
}

.box2BottomSubHeading {
  font-size: 21px;
  font-weight: 400;
  color: lightslategray;
}

/* Box 3 */

.box3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.box3Bottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

/* Box 4 */
/* Let's Work Together */
.box4 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.2rem;
}

.box4Logo {
  height: 90px;
  width: 90px;
}

.box4Heading {
  font-size: 1.7rem;
  padding: 0 1rem;
  margin: 0.7rem 0;
  text-align: center;
  font-weight: 600;
  color: lightslategray;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border: 2px solid #4b5563; /* Gray */
  background-color: var(--glass-background-color);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 21px;
  cursor: pointer;
}

.button:hover {
  color: black;
  transition: 0.5s ease-in-out;
  border: 2px solid whitesmoke;
  background: linear-gradient(
      to left,
      var(--glass-background-color) 35%,
      whitesmoke 60%
    )
    right;
  background-size: 300% 100%;
  color: white;
}
/* Box 5 */
.box5 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.75);
}

.box5Bottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.marqueeCards {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 1.5rem;
  position: absolute;
  top: 2rem;
  animation: marqueeCards 35s linear infinite;
}

.box5:hover .marqueeCards {
  animation-play-state: paused;
}

.marqueeCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.7rem;
  background-color: var(--glass-background-color);
  border-radius: 0.5rem;
  min-width: 12rem;
  min-height: 10rem;
}

.marqueeTitle {
  color: var(--subtext-color);
  font-size: 1rem;
}

.marqueeText {
  font-size: 0.9rem;
}

.icon {
  height: 2rem;
  width: 2rem;
}

@keyframes marqueeCards {
  to {
    transform: translate(calc(-50% - 1.5rem));
  }
}

/* Responsive */

/* Tablet (768px - 1024px): 2 Columns */
@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    grid-column: auto;
    grid-row: auto;
  }
  .box2Heading,
  .box2SubHeading {
    font-size: 1.7rem;
  }
  .box2Globe {
    width: 40%;
    height: 40%;
    top: 35%;
  }
}

/* Mobile (Below 768px): 1 Column */
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* Single column */
  }
  .box {
    min-height: 22rem;
  }
  .icon {
    height: 2rem;
    width: 2rem;
  }

  .boxHeading {
    font-size: 1.1rem;
  }

  .box1Heading,
  .box2Heading,
  .box3Heading,
  .box5Heading,
  .box1SubHeading,
  .box2SubHeading,
  .box3SubHeading,
  .box5Subheading {
    font-size: 21px;
  }

  .box4Heading {
    font-size: 21px;
  }
  .box4Logo {
    height: 5rem;
  }

  .box1SubHeading .box2SubHeading,
  .box3SubHeading,
  .box5Subheading {
    margin-top: -4px;
  }
  .box2BottomHeading,
  .box3BottomHeading,
  .box5BottomHeading {
    font-size: 21px;
  }
  .box2BottomSubHeading,
  .box3BottomSubHeading,
  .box5BottomSubHeading {
    font-size: 18px;
  }
  .box2Globe {
    width: 40%;
    height: 40%;
    top: 30%;
  }

  .button {
    gap: 1rem;
    font-size: 18px;
  }

  .videos {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .video1,
  .video2,
  .video3,
  .video4 {
    width: 150px;
  }
}
