.navbar {
  overflow: hidden;
  margin-top: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 4rem;
  width: 4rem;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: rgba(61, 65, 68, 0.2) 0px 8px 24px;
}

.middle {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: 2px solid white;
  border-radius: 100px;
  padding: 0.4rem 0.4rem;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: rgba(61, 65, 68, 0.2) 0px 8px 24px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
}

.navbarItem {
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
}

.navbarItem:hover {
  cursor: pointer;
}

.navbarItem.active {
  background-color: #111215;
}

.navbarItem.navbarCTA {
  background-color: #3e414f;
}

.itemName {
  color: var(--subtext-color);
}

.right {
}
