@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glass-background-color: #34363e;
  --card-background-color: #0e0e0e;
  --card-border-color: #232323;
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Monsterrat";
  overflow-x: hidden;
}

.compress {
  width: 90%;
  margin: auto;
}
